Imports

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix
import warnings
warnings.filterwarnings("ignore")

C:\Users\lenovo\anaconda3\Lib\site-packages\pandas\core\computation\expressions.py:22: UserWarning: Pandas requires version '2.10.2' or newer of 'numexpr' (version '2.10.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

ModuleNotFoundError: No module named 'sklearn.utils'

In [14]:
!pip install sklearn.utils

Collecting sklearn.utils
  Downloading sklearn_utils-0.0.15.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from sklearn.utils) (2.4.2)
Collecting pyfunctional (from sklearn.utils)
  Downloading pyfunctional-1.5.0-py3-none-any.whl.metadata (40 kB)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (from sklearn.utils) (3.0.1)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from sklearn.utils) (1.17.1)
Requirement already satisfied: scikit-learn in c:\users\lenovo\anaconda3\lib\site-packages (from sklearn.utils) (1.8.0)
Requirement already satisfied: statsmodels in c:\users\lenovo\anaconda3\lib\site-packages (from sklearn.utils) (0.14.4)
Requirement already satisfied: seaborn in c:\users\lenovo\anaconda3\lib\site-packages (from sklearn.utils) (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->sklearn.utils) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->sklearn.utils) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->sklearn.utils) (1.17.0)
Requirement already satisfied: dill>=0.2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from pyfunctional->sklearn.utils) (0.3.8)
Requirement already satisfied: tabulate<=1.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pyfunctional->sklearn.utils) (0.9.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from seaborn->sklearn.utils) (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->sklearn.utils) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->sklearn.utils) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->sklearn.utils) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->sklearn.utils) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->sklearn.utils) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->sklearn.utils) (11.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->sklearn.utils) (3.2.0)
Requirement already satisfied: patsy>=0.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from statsmodels->sklearn.utils) (1.0.1)
Downloading pyfunctional-1.5.0-py3-none-any.whl (53 kB)
Building wheels for collected packages: sklearn.utils
  Building wheel for sklearn.utils (setup.py): started
  Building wheel for sklearn.utils (setup.py): finished with status 'done'
  Created wheel for sklearn.utils: filename=sklearn_utils-0.0.15-py3-none-any.whl size=27878 sha256=c142577e972125fdfbf6309cfc56f1aa8f26fed14f743e97c315d7be11698356
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\85\34\d1\2f86d40a01262cdb99d991789476f5fdc815ea223adbd1395f
Successfully built sklearn.utils
Installing collected packages: pyfunctional, sklearn.utils

   ---------------------------------------- 0/2 [pyfunctional]
   -------------------- ------------------- 1/2 [sklearn.utils]
   ---------------------------------------- 2/2 [sklearn.utils]

Successfully installed pyfunctional-1.5.0 sklearn.utils-0.0.15

WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\lenovo\anaconda3\Lib\site-packages)
  DEPRECATION: Building 'sklearn.utils' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'sklearn.utils'. Discussion can be found at https://github.com/pypa/pip/issues/6334
WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\lenovo\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\lenovo\anaconda3\Lib\site-packages)

Q1

In [3]:
df = pd.read_csv("Supermart_Grocery_Sales.csv")
df.head(10)

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254.0,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749.0,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360.0,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896.0,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355.0,0.26,918.45,Tamil Nadu
5,OD6,Adavan,Food Grains,Organic Staples,Dharmapuri,06-09-2015,West,2305.0,0.26,322.70,Tamil Nadu
6,OD7,Jonas,Fruits & Veggies,Fresh Vegetables,Trichy,06-09-2015,West,826.0,0.33,346.92,Tamil Nadu
7,OD8,Hafiz,Fruits & Veggies,Fresh Fruits,Ramanadhapuram,06-09-2015,West,NaN,0.32,147.76,Tamil Nadu
8,OD9,Hafiz,Bakery,Biscuits,Tirunelveli,06-09-2015,West,791.0,0.23,181.93,Tamil Nadu
9,OD10,Krithika,Bakery,Cakes,Chennai,06-09-2015,West,1795.0,0.27,484.65,Tamil Nadu

Q2

In [4]:
filteredData = df[df['Profit'] >= 150]
filteredData[['Customer Name','Category','Sales','Discount']]

     Customer Name           Category   Sales  Discount
0           Harish       Oil & Masala  1254.0      0.12
2          Hussain        Food Grains  2360.0      0.21
4          Ridhesh        Food Grains  2355.0      0.26
5           Adavan        Food Grains  2305.0      0.26
6            Jonas   Fruits & Veggies   826.0      0.33
...            ...                ...     ...       ...
9988       Jackson             Snacks  1460.0      0.15
9989        Sudeep  Eggs, Meat & Fish   945.0      0.16
9991          Ravi        Food Grains  1567.0      0.16
9992          Peer       Oil & Masala  1659.0      0.15
9993        Ganesh        Food Grains  1034.0      0.28

[8114 rows x 4 columns]

Q3
A)

In [5]:
df['Sales'].fillna(df['Sales'].mean(), inplace = True)
df

C:\Users\lenovo\AppData\Local\Temp\ipykernel_18088\3430615068.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Sales'].fillna(df['Sales'].mean(), inplace = True)

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254.0,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749.0,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360.0,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896.0,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355.0,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945.0,0.16,359.10,Tamil Nadu
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,07-12-2015,West,1195.0,0.26,71.70,Tamil Nadu
9991,OD9992,Ravi,Food Grains,Rice,Bodi,06-06-2017,West,1567.0,0.16,501.44,Tamil Nadu
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659.0,0.15,597.24,Tamil Nadu
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034.0,0.28,165.44,Tamil Nadu

Q3
B)

In [5]:
df['Discount'].fillna(method="bfill",inplace = True)
df

TypeError: NDFrame.fillna() got an unexpected keyword argument 'method'

Q3
C)

In [6]:
df['Profit'].fillna(method="ffill",inplace = True)
df

TypeError: NDFrame.fillna() got an unexpected keyword argument 'method'

Q4

In [7]:
salesArray = df['Sales'].values
minVal = np.min(salesArray)
maxVal = np.max(salesArray)
salesNorm = (salesArray-minVal) / (maxVal - minVal)
df['Sales_Norm']  = salesNorm
df

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State,Sales_Norm
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254.0,0.12,401.28,Tamil Nadu,NaN
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749.0,0.18,149.80,Tamil Nadu,NaN
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360.0,0.21,165.20,Tamil Nadu,NaN
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896.0,0.25,89.60,Tamil Nadu,NaN
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355.0,0.26,918.45,Tamil Nadu,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945.0,0.16,359.10,Tamil Nadu,NaN
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,07-12-2015,West,1195.0,0.26,71.70,Tamil Nadu,NaN
9991,OD9992,Ravi,Food Grains,Rice,Bodi,06-06-2017,West,1567.0,0.16,501.44,Tamil Nadu,NaN
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659.0,0.15,597.24,Tamil Nadu,NaN
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034.0,0.28,165.44,Tamil Nadu,NaN

Q5

In [6]:
#Group products by Order ID
transactions = df.groupby('Order ID')['Sub Category'].apply(list).tolist()

# Convert to one-hot encoded table
te = TransactionEncoder()
te_array = te.fit(transactions).transform(transactions)
trans_df = pd.DataFrame(te_array, columns=te.columns_)

# Apply Apriori
frequent_itemsets = apriori(trans_df, min_support=0.02, use_colnames=True)

# Generate rules (confidence ≥ 0.5)
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.5)

# Show required columns
rules = rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
print(rules)
plt.scatter(rules['support'], rules['confidence'])
plt.xlabel("Support")
plt.ylabel("Confidence")
plt.title("Support vs Confidence")
plt.show()

NameError: name 'TransactionEncoder' is not defined

Q6

In [7]:
df['Profit'] = df['Profit'].fillna(df['Profit'].median())  # fill null value

#create targe column
median_profit = df['Profit'].median()
df['Profit_Category'] = np.where(df['Profit'] >= median_profit, 'High', 'Low')
print(df['Profit_Category'])

# Add Quantity if available
X = df[['Sales', 'Discount']].fillna(df[['Sales', 'Discount']].mean())
y = df['Profit_Category']

#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#naive base model
model = GaussianNB()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

0       High
1        Low
2        Low
3        Low
4       High
        ...
9989    High
9990     Low
9991    High
9992    High
9993     Low
Name: Profit_Category, Length: 9994, dtype: str

NameError: name 'train_test_split' is not defined